<div class="home-background">
  <div class="home-container">
    <h2 class="home">Dairy Diary is your personal cheese journal.</h2>
    <p>Record your thoughts, add photos, and keep track of the cheeses you have tried.</p>
    <p>Create an account to get started!</p>
  </div>
</div>
